/* ==========================================================================
   For times when you have to "hit it with a hammer"
   ========================================================================== */

.single-pledge-hero {
  display: none !important;
  transition: background-image 4s; 
  -webkit-filter: blur(7px); 
  filter: blur(7px);
  position: absolute;
  top: -2%;
  left: -2%;
  right: -2%;
  width: 105%;
  height: 104%;
  margin: auto;
  background-size: cover !important;
  overflow: hidden;

  box-shadow: inset 10px 0 25px rgba(0,0,0,1);

  @include breakpoint(medium) {
    display: block !important; 
  }
}
#hero-map-canvas {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  width:100%;
  height:100%;
}


.mfp-slidein.mfp-wrap .mfp-content,
.mfp-slidein.mfp-wrap.mfp-removing .mfp-content {
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;  
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translate3d(0,-110%,0);
  transform: translate3d(0,-110%,0);

  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;  
}

.mfp-slidein.mfp-wrap.mfp-ready .mfp-content {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.is_framed { 
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.four-oh-four {
  text-align: center;
  padding-bottom: 40px;
}

@include breakpoint(1120px, max) {
  .at4-share-outer {
    display: none;
  }
}