/* ==========================================================================
   Setup essential variables for the entire project
   ========================================================================== */

// To establish width of "wrap" class (see grid.scss)
$content-width: 1000px;

// For Media Queries 
$large: 1000px;  
$medium: 768px;  
$small: 480px;   
$xtra-small: 320px; 

// Custom fonts 
$base-font: "Georgia", serif;
$fancy-font: "Lato", sans-serif;

// Colors
$green: #9BC443;
$blue: #456688;
$blue-light: #0cc4ff;
$orange: #f2a021;
$grey-light: #F5F5F5;
$grey-medium: #666666;

// Margins
$default-margin: 3rem;
