// ==========================================================================
// $FONT-FACE
// ==========================================================================

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

// @font-face placeholder
@font-face {
    font-family: 'font_name';
    src: url('../fonts/font_name-webfont.eot');
    src: url('../fonts/font_name-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_name-webfont.woff') format('woff'),
         url('../fonts/font_name-webfont.ttf') format('truetype'),
         url('../fonts/font_name-webfont.svg#junction_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
