/* ==========================================================================
   Helper Classes
   ========================================================================== */

.hide-mobile {
    display: none;
    visibility: hidden;

    @include breakpoint(medium) {
        display: block;
        visibility: visible;
    }
}

.hide-desktop {
    @include breakpoint(medium) {
        display: none;
        visibility: hidden;
    }
}

/* WordPress Defaults */
.alignnone,
a img.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, 
div.aligncenter,
a img.aligncenter,
.alignright,
a img.alignright,
.alignleft,
a img.alignleft,
.wp-caption img {
    display: block;
    width: 100% !important;
    margin: $default-margin auto;
}

.alignright,
a img.alignright {
    @include breakpoint(large) {
        float: right;
        width: auto !important;
        margin: 0 -40% 5% 5%;
    }
}

.wp-caption.alignright {
    @include breakpoint(large) {
        margin: 0 4% 5% 2%;        
    }

    @include breakpoint(1200px, min) {
        margin-right: 10%;
    }

    @include breakpoint(1500px, min) {
        margin-right: 20%;
    }
}

.alignleft,
a img.alignleft {
    @include breakpoint(large) {
        float: left;
        width: auto !important;
        margin: 0 5% 5% -40%;    
    }
}

.wp-caption {
    max-width: 100%;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 15px 20px 20px 0;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    width: 100% !important;
    margin: 0 !important;
    padding: .5rem .5rem 0 0 !important;

    text-align: right;
    font-size: rem(11px);
    line-height: 1.5em;
}

img.wp-smiley {
    vertical-align: middle;
}

.gallery {
    margin: 0 auto 18px;
}

.gallery .gallery-item {
    float: left;
    margin-top: 0;
    text-align: center;
    max-width: 155px;
}

.gallery img {
    border: 1px solid #ddd;
}

.gallery .gallery-caption {
    font-size: 12px;
    margin: 0 0 12px;
}

.gallery dl {
    margin: 0;
}

.gallery br+br {
    display: none;
}

.attachment-gallery img {
    background: #fff;
    border: 1px solid #f0f0f0;
    display: block;
    height: auto;
    margin: 15px auto;
    max-width: 96%;
    padding: 5px;
    width: auto;
}

.gallery-meta .iso, 
.gallery-meta .camera,
.gallery-meta .shutter,
.gallery-meta .aperture,
.gallery-meta .full-size,  
.gallery-meta .focal-length {
    display: block;
}
/* Clearfix */
.clearfix:after {
    clear: both;
    content: '\0020';
    display: block;
    height: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clear {
    clear: both;
}

.hidden {
  visibility: hidden;
  display: none;
}

/* Facebook crap */
.fb_iframe_widget { display: block !important; }
.fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] { 
  width: 100% !important; 
  max-width: 480px;
  margin: 0 auto;
  background: #fff;
}
