/* ==========================================================================
   Mixins and Functions
   ========================================================================== */

// Media Query mixin
@mixin breakpoint($viewport, $width: false) {
  @if $viewport == xtra-small {
      @media only screen and (min-width: $xtra-small) { @content; }
  }
  @else if $viewport == small {
      @media only screen and (min-width: $small) { @content; }
  }
  @else if $viewport == medium {
      @media only screen and (min-width: $medium) { @content; }
  }
  @else if $viewport == large {
      @media only screen and (min-width: $large) { @content; }
  }
  @else if $viewport == large-max {
      @media only screen and (max-width: $large) { @content; }
  }
  @else if $width == min {
      @media only screen and (min-width: $viewport) { @content; }
  }
  @else if $width == max {
      @media only screen and (max-width: $viewport) { @content; }
  }
}

// Micro Clearfix Hack - http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix-micro() {
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/* mixin for "before" and "after" pseudo-elements (usually when using sprites in pseudo elements) */

@mixin pseudo-element($width, $height, $bg: false) {
  display: block;
  content: '';

  width: $width;
  height: $height;    

  @if $bg {
    background: $bg; 
  }
}

/* mixin for absolute positioning */

@mixin abs-pos($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}


@mixin gradient($fromColor, $toColor) {
  background: $fromColor; /* Old browsers */
  background: -moz-linear-gradient(top,  $fromColor 0%, $toColor 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fromColor), color-stop(100%,$toColor)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $fromColor 0%,$toColor 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $fromColor 0%,$toColor 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $fromColor 0%,$toColor 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $fromColor 0%,$toColor 100%); /* W3C */
}

@mixin bs($bs){
  -moz-box-shadow: $bs;
  -webkit-box-shadow: $bs;
  box-shadow: $bs;
}

@mixin ts($ts){
  -moz-text-shadow: $ts;
  -webkit-text-shadow: $ts;
  text-shadow: $ts;
}

/* Function for calculating em's */

@function em($target, $context: 16px) {
  @return ($target / $context) * 1em; 
}

/* Mixin for rem fallbacks */

// First calculate the rem value based on the px value 
@function rem($size) {
  $remSize: $size / 16px; // Assuming 16px default font size for the browser 
  @return $remSize * 1rem;
}

// Now create mixin that calls the function
@mixin rem($size) {
  font-size: $size; //Fallback in px
  font-size: rem($size);
}