/* ==========================================================================
   Placeholders
   ========================================================================== */

%text-shadow-dark {
  text-shadow: 1px 2px 2px rgba(0,0,0,0.7);
}

%font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimize-legibility;
}

%list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

%hide-screenreader { // hide something and made it un-readable to screen reader
    display:none;
    visibility:hidden;
}

%visually-hidden { // hide something but still make it readable by screen reader
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

// clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}