/* ========================================================================== 
   Footer
   ========================================================================== */

.pre-footer {
  padding: rem(40px) 0;

  margin-top: $default-margin;
  
  background: url('img/logomark.svg') no-repeat center center $grey-light;
  background-size: 50%;

  p {
    color: $grey-medium;
  }

  @include breakpoint(medium) {
    padding: rem(80px) 0;
    background-size: auto;
  }
}

.footer {
  padding: 2rem 0;

  background: $blue;

  .wrap {
    width: 850px;
    max-width: 100% !important;
  }

  h3 {
    margin: 0;
    padding-bottom: rem(12px);

    font-size: rem(20px);

    border-bottom: 1px solid #869BB2;
  }

  * {
    color: #fff;
  }

  &__logo {
    width: 210px;
    height: 55px; 
    float: left;
    margin-bottom: rem(10px);
  }

  &__news a,
  &__nav a,
  &__nav span {
    font-family: $fancy-font;
    font-size: rem(16px);
    text-decoration: none;
  }

  &__news {
    margin: rem(5px) 0 0 0;
    padding: 0 0 0 rem(20px);

    li {
      margin-bottom: 0;

      line-height: 1.4rem;
    }
  }

  &__nav {
    padding-top: rem(7px);

    border-top: 1px solid #869BB2;

    ul {
      float: left;
      margin: 0;
      padding: 0;

      list-style-type: none;
    }

    li {
      display: inline-block;
      margin-right: rem(15px);
    }

    a,
    span {
      color: #869BB2;      
    }
  }

  .copyright {
    float: left;
    line-height: 25px;
  }

  .addthis_toolbox.addthis_vertical_style {
    width: 100px !important;
    clear: both;
    float: left;

    a {
      text-decoration: none !important;
    }
  }

  .addthis_toolbox.addthis_vertical_style span.addthis_follow_label {
    font-family: $fancy-font !important;
    font-size: 1rem !important;
  }

  @include breakpoint(medium) {
    padding: 2.5rem 1rem;
    
    &__news {
      margin: rem(5px) 0 rem(70px) 0;
    }
    
    &__logo,
    .btn--social,
    .copyright, 
    .addthis_toolbox.addthis_vertical_style {
      float: right !important;
    }
  }
}

