/* ==========================================================================
   Header
   ========================================================================== */

.page-header {
  padding: 0 rem(15px);
  position: absolute;

  top: 0;
  width: 100%;

  overflow: hidden;

  .logo {
    position: relative;
    z-index: 4;
    
    opacity: 1;
    float: left;
    width: 180px;
    height: 75px;

    -webkit-transition: all 1s ease;    
    transition: all 1s ease;
  }

  &.menu-is-open {
    .logo {
      opacity: 0;
    }
  }

  @include breakpoint(1200px, min) {
    padding: rem(35px) rem(50px) 0 rem(50px);

  }
 

  @include breakpoint(1400px, min) {
    padding: rem(25px) rem(90px) 0 rem(90px);
  } 
}