/* ==========================================================================
   Main content
   ========================================================================== */

#page {
	background: #fff;
}

.main-content {
	.error404 & {
		min-height: rem(300px);
	}

	p {
		color: $grey-medium;
	}

	.quote {
		color: $grey-medium;
	}

	h2,
	h3 {
		clear: both;
	}

	h2:first-of-type,
	h1:first-of-type {
		margin-top: 0;
	}

	.title-centered {
		margin-top: 0;

		text-align: center;
	}

	/* Overrides for Single Story page */

	.single-story & {
		p,
		h2,
		h3,
		h4 {
			padding-left: rem(15px);
			padding-right: rem(15px);
		}

		@include breakpoint(medium) {
			p,
			h2,
			h3,
			h4 {
				width: rem(580px);
				margin-left: auto;
				margin-right: auto;
				padding-left: 0;
				padding-right: 0;				
			}
		}
	}

	/* Overrides for Single pledge */

	.single-pledges & {
	    padding: 0 20px 20px 20px;

		color: $grey-medium;

		#content {
			position: relative;
		}

	    h2 {
			margin-top: 0;
			margin-bottom: 0;

			font-size: rem(31px);
	    }

		.location {
			margin-top: -.4rem;
			display: block;

			font-family: $fancy-font;
			font-weight: 300;
			font-style: italic;
			font-size: rem(23px);
		}  

		.date {
			font-size: 1.3rem;
		}

		.copyright {
			display: block;
			margin-top: $default-margin;

			font-family: "Lato", sans-serif;
			font-style: italic; 
			font-size: 1rem;			
			color: rgba(102,102,102, .6);
		}
	}
}