/* ==========================================================================
   Site-wide element styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  font-family: $base-font;
  line-height: 1.4;
  font-size: 100%;    

  background: #fff;
  min-height: 100%;

  &.error404 {
    background: $blue;

  }
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6,
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,
.h1 a,.h2 a,.h3 a,.h4 a,.h5 a,.h6 a { 
  font-family: $fancy-font; 
  color: $blue;
  text-decoration: none;
}

h1 a, a h1 {   
  text-decoration: none; 
  border-bottom: 0; 
}

h1, .h1 { font-size: 2rem; }
h2, .h2 { font-size: 1.8rem; }
h3, .h3 { font-size: 1.6rem; }

a { 
  color: #000; 
  outline: none !important;
}

p, li { 
  font-size: 1.1rem;

  @include breakpoint(medium) {
    font-size: 1.3rem; 
  }
}

blockquote, blockquote p { 
  font-size: 1.4rem;

  @include breakpoint(medium) {
    font-size: 1.8rem; 
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iframe, object, embed {
  max-width: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

*,
:before,
:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
