/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
  display: inline-block;
  padding: .750rem 2.500rem;

  font-size: em(32px);
  color: #fff;
  text-decoration: none;
  font-family: $fancy-font;

  border: solid 2px #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: $green;

  &--no-bg {
    clear: both;
    display: block;
    padding: .750rem 0;
    width: 10.938rem;
    margin: 5rem auto 0 auto;

    text-align: center;
    font-size: 1.438rem;

    border: 1px solid #fff;
    background: none;
  }
}