/* ==========================================================================
   Call to action
   ========================================================================== */

.call-to-action {
  text-align: center;

  .wrap {
    outline: none;
  }

  p,
  h2 {
    text-align: left;
  }

  p {
    margin-bottom: em(40px, 25px);
  }

  .share {
    display: block;
    margin-top: em(10px);

    color: $blue-light;
    font-size: em(20px);
  }
}