// ******************
// Grid and Layout
// ******************

$pad: 10px; // Gutter size

.wrap, 
.full-width, 
[class*='col-'] {
	@include clearfix-micro;
}

.wrap {
	margin: 0 auto; 
	width: 100%;
	max-width: $content-width !important;
	padding: 0 rem(10px);

	&--no-padding {
		padding: 0;
	}

	&--medium {
		@include breakpoint(medium) {
			max-width: rem(800px) !important;
		}
	}

	&--narrow {
		@include breakpoint(medium) {
			max-width: rem(580px) !important;
		}
	}

	@include breakpoint(850px, min) {
		padding: 0;		
	}
}

.full-width {
	margin: 0 $pad; // Add margin so non-column elements line up with ".col-" elements
	clear: both;
}

.clear {
	clear: left;
}

[class*='col-']  // Target all elements that start with "col-"
{
	float: left; // Float all columns to the left
	padding: $pad; // Add padding to visually separate columns

	&.right {
		float: right;
	}

	&.first {
		padding: $pad;

		@include breakpoint(medium) {
			padding-left: 0;
		}
	}

	&.last {
		padding: $pad;

		@include breakpoint(medium) {
			padding-right: 0;
		}
	}
}

.col-1-2 {
	width: 100%;

	@include breakpoint(medium) {
		width: 50%;
    }
}

.col-1-3 {
	width: 100%;

	@include breakpoint(medium) {
		width: 33.33%;
    }
}

.col-2-3 {
	width: 100%;

	@include breakpoint(medium) {
		width: 66.66%;
    }
}

.col-1-4 {
	width: 100%;

	@include breakpoint(medium) {
		width: 25%;
    }
}

.col-3-4 {
	width: 100%;

	@include breakpoint(medium) {
		width: 75%;
    }
}

.col-1-8 {
	width: 100%;

	@include breakpoint(medium) {
		width: 12.5%;
    }
}

.col-2-8 {
	width: 100%;

	@include breakpoint(medium) {
		width: 25%;
    }
}

.col-3-8 {
	width: 100%;

	@include breakpoint(medium) {
		width: 37.5%;
    }
}

.col-4-8 {
	width: 100%;

	@include breakpoint(medium) {
		width: 50%;
    }
}

.col-5-8 {
	width: 100%;

	@include breakpoint(medium) {
		width: 62.5%;
    }
}

.col-6-8 {
	width: 100%;

	@include breakpoint(medium) {
		width: 75%;
    }
}

.col-7-8 {
	width: 100%;

	@include breakpoint(medium) {
		width: 87.5%;
    }
}
