/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
	position: relative;
  overflow: hidden;

  margin-bottom: $default-margin;
	width: 100%;

	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover !important;

	&:after {
		@include abs-pos(auto,0,0,0);
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
	}

  &--gradient:after {
    z-index: 2;

    background: none;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 65%, rgba(0,0,0,0.25) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(65%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.25))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 65%,rgba(0,0,0,0.25) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 65%,rgba(0,0,0,0.25) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 65%,rgba(0,0,0,0.25) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 65%,rgba(0,0,0,0.25) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */    
  }

  .single-pledges & { // override for single pledge
    .wrap {
      padding: 0;
    } 
  }

  &.hero-map {
    background: #B3D1FF;  
  }  

  @include breakpoint(medium) {
    .single-pledges & {
      padding: rem(25px) 0;
    }
  }

  @include breakpoint(1400px, min) {
    .wrap {
      max-width: 1000px !important;
    }
  }
} // .hero

.hero__content {
  position: relative;
  z-index: 3;
	padding: 2%; 

	color: #fff;

  a {
    display: block;
  }

  .hero__logo {
    display: inline-block;
    width: 90%;
    max-width: 400px;
    margin: rem(60px) auto rem(20px) auto; 
    padding-bottom: 18%;

    background: url('./img/typeset-small.svg') no-repeat center center;
    background-size: 100%;
  }  

  .hero__title {
    margin-top: 0;    
    margin-bottom: 4%;

    color: #fff;
    font-family: $base-font;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.3;
    
    @extend %font-smoothing;
  }

  .hero__description {
    margin: rem(10px) auto;

    font-family: $fancy-font;
    font-size: 1.1rem;
  }  

  .home & { // overrides for front page
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    .hero__logo {
      margin-top: 0;
    }

    .hero__title {
      margin-bottom: 4%;
    }

    .hero__description {
      margin: 2% 0;
    }  

    .pledges {
      display: none;
  
      padding-top: 0;
      max-width: rem(700px);
    }
  }

  &.hero__content--centered { // for the single story page
    @include abs-pos(25%,0,auto,0);

    height: rem(150px);

    .hero__logo {
      margin-top: 0;
      margin-bottom: 15%;
    }
  }    

  &.hero__content--dark { // darken background
    background: rgba(0,0,0, .5);
  }

  @media only screen and (min-width: $medium) and (min-height: 620px) {
    .home & {
      .pledges {
        display: block;
      }
    }    
  }

  @include breakpoint(medium) {
    .hero__logo {
      width: 65%;
      max-width: 700px;
      margin: 1.75rem auto 0 auto; 

      background: url('./img/typeset.svg') no-repeat center center; 
      padding-bottom: 10%;
      background-size: 100%;
    }

    .hero__title {
      font-size: 1.9rem !important;

      &.hero__title--big { // on the single story 
        font-size: 3rem !important;
      }
    }

    .hero__description {
      font-size: 1.5rem;
    }

    &.hero__content--centered { // for the single story page
      @include abs-pos(12%,0,auto,0);

      height: rem(350px);
    }    

    .home & {
      .hero__logo {
        margin: 0 auto 1% auto; 
      }

      .hero__title {
        max-width: rem(780px);

        margin: 0 auto 2% auto;
      }

      .hero__description {
        margin-top: 2%;;
      }  
    }
  }

  @include breakpoint(large) {
    .hero__logo {
      margin: 0;
    }

    .home & {
      .hero__logo {
        margin: 0 auto 1% auto; 
      }

      .hero__title {
        max-width: rem(800px);

        margin: 0 auto 2% auto;
      }

      .hero__description {
        margin-top: 2%;;
      }  
    }    
  }

  @include breakpoint(1400px, min) {
    padding: 1.5rem 0;

    .hero__logo {
      width: 70%;
      margin: 0 auto; 
    }

    .hero__title {
      font-size: 2.5rem !important;

      &.hero__title--big {
        font-size: 3.5rem !important;
      }       
    }

    .hero__description {
      font-size: 1.5rem;
    }

    .home & {
      .hero__logo {
        margin: 0 auto 3% auto; 
      }

      .hero__title {
        max-width: rem(900px);
        margin-bottom: 1%;
      }

      .hero__description {
        margin-top: 10%;
        margin-bottom: 1%;
      }  

      .pledges {
        max-width: 90%;

        .pledge__img {
          max-width: 90%;
        }
      }
    }
  }
} 

.hero__slider {
  position:relative;
  z-index: 1;

  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  overflow:hidden;

  @include breakpoint(medium) {
    width: 580px;
    height: 500px;
    margin: 0 auto;
    padding-bottom: 0;
  }
}

.slide {
  opacity:0;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 4s, 10s;
  -moz-transition-property: opacity, -moz-transform;
  -moz-transition-duration: 4s, 10s;
  -ms-transition-property: opacity, -ms-transform;
  -ms-transition-duration: 4s, 10s;
  -o-transition-property: opacity, -o-transform;
  -o-transition-duration: 4s, 10s;
  transition-property: opacity, transform;
  transition-duration: 4s, 10s;

  &.fx:first-child + div ~ div  {
      z-index: -1;
  }

  &.fx {
    opacity:1;
  }           

  &.slide--regular.fx {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }    
}

.slide--regular { // class to distinguish from a map slide.  Don't want the map to start at scale(.9)
  position:absolute;
  width: 110%;
  height: 110%;
  background-size: cover !important;
  top: 0;
  left: -5%;
  right: 0;
  bottom: 0;
  margin: auto;

  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
  transform: scale(.9);

  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;

  @include breakpoint(medium) {
    top: -10%;
    left: -12%;      

    width: 720px;
    height: 720px;    
  }
}

.hero__posts-nav {
  @include abs-pos(40%, 0, 0, 0);
  z-index: 2;

  margin: auto;
  width: 95%;

  .next,
  [rel="next"],
  .prev,
  [rel="prev"] {
    display: block;
    height: 70px;
    width: 55px;   

    font-size: 0;

    outline: none;

    background: url('./img/arrow.svg') no-repeat center center;

    -webkit-transform: rotate(-90deg) !important;    
    -ms-transform: rotate(-90deg) !important;    
    transform: rotate(-90deg) !important;
  } 

  .next,
  [rel="next"] {
    float: right;
  }

  .prev,
  [rel="prev"] {
    float: left;

    -webkit-transform: rotate(90deg) !important;    
    -ms-transform: rotate(90deg) !important;    
    transform: rotate(90deg) !important;
  }

  @include breakpoint(medium) {
    .next,
    [rel="next"],
    .prev,
    [rel="prev"] {
      width: 70px;    
    }    
  }

  @include breakpoint(1200px, min) {
    width: 90%;
  }
}

/* For a single map on mobile */

.map-mobile {
  @include abs-pos(0,0,0,0);
  margin: auto;

  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;

  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 10s;
  -moz-transition-property:  -moz-transform;
  -moz-transition-duration: 10s;
  -ms-transition-property: -ms-transform;
  -ms-transition-duration: 10s;
  -o-transition-property: -o-transform;
  -o-transition-duration: 10s;
  transition-property: transform;
  transition-duration: 10s;

  .map-container.fx & {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
  } 

  &--single {
    animation:mapzoom 5s ease;
    -ms-animation:mapzoom 5s ease;
    -webkit-animation:mapzoom 5s ease;
    -o-animation:mapzoom 5s ease;
    -moz-animation:mapzoom 5s ease;    

    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;  

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;      
  }

  @include breakpoint(medium) {
    display: none !important;
    visibility: hidden !important;
  }
}

@-webkit-keyframes mapzoom {
  from {
    transform: scale(1);
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari and Chrome */
    -o-transform: scale(1); /* Opera */
    -moz-transform: scale(1); /* Firefox */
  }
  to {
    transform: scale(1.1);
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -o-transform: scale(1.1); /* Opera */
    -moz-transform: scale(1.1); /* Firefox */
  }
}  

@keyframes mapzoom {
  from {
    transform: scale(1);
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari and Chrome */
    -o-transform: scale(1); /* Opera */
    -moz-transform: scale(1); /* Firefox */
  }
  to {
    transform: scale(1.1);
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -o-transform: scale(1.1); /* Opera */
    -moz-transform: scale(1.1); /* Firefox */
  }
}

/* For the 3 paneled Map */

.map-container {
  @include breakpoint(medium) {
    overflow: hidden;
  }
}

.zoom-closer,
.zoom-closest,
.zoom-far {
  display: none;
  position: relative;
  overflow: hidden;

  img {
    @include abs-pos(-10%,0,0,-15%);
    margin: auto;
    max-width: 125%;

    animation:move 5s ease;
    -ms-animation:move 5s ease;
    -webkit-animation:move 5s ease;
    -o-animation:move 5s ease;
    -moz-animation:move 5s ease;    

    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;  

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;    
  }

  @include breakpoint(medium) {
    display: block;

    img {
      max-width: 200%;
    }
  }
}  

.zoom-far {
  float: left;
  width: 250px;
  height: 250px; 

  @include breakpoint(medium) {
    width: 50%;
    height: 500px; 
  }
}

.zoom-closer,
.zoom-closest {
  display: none;
  float: right;
  height: 275px;
  width: 49%;

  img {
    transform: scale(0.9);
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari and Chrome */
    -o-transform: scale(0.9); /* Opera */
    -moz-transform: scale(0.9); /* Firefox */
  }

  @include breakpoint(medium) {
    display: block;
  }
}

.zoom-closer { 
  margin-bottom: 1%;

  img {
    animation-delay: 1s;
    -ms-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
  }
}

.zoom-closest { 
  img {
    animation-delay: 2s;
    -ms-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    -moz-animation-delay: 2s;
  }
}

@-webkit-keyframes move {
  from {
    transform: scale(0.9);
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari and Chrome */
    -o-transform: scale(0.9); /* Opera */
    -moz-transform: scale(0.9); /* Firefox */
  }
  to {
    transform: scale(1.0);
    -ms-transform: scale(1.0); /* IE 9 */
    -webkit-transform: scale(1.0); /* Safari and Chrome */
    -o-transform: scale(1.0); /* Opera */
    -moz-transform: scale(1.0); /* Firefox */
  }
}  

@keyframes move {
  from {
    transform: scale(0.9);
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari and Chrome */
    -o-transform: scale(0.9); /* Opera */
    -moz-transform: scale(0.9); /* Firefox */
  }
  to {
    transform: scale(1.0);
    -ms-transform: scale(1.0); /* IE 9 */
    -webkit-transform: scale(1.0); /* Safari and Chrome */
    -o-transform: scale(1.0); /* Opera */
    -moz-transform: scale(1.0); /* Firefox */
  }
}

.arrow {
  $arrow-spacing: rem(20px);

  @include abs-pos(auto,0 , $arrow-spacing, 0);
  z-index: 3;
  margin: auto;
  display: block;

  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;  

  img {
    width: 20%;
    max-width: 92px;
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}  
