/* ==========================================================================
   Images
   ========================================================================== */

.backdrop {
  position: relative;
  display: block;
  margin: $default-margin 0;
  overflow: hidden;  

  color: #fff;

  .background {
    @include abs-pos(0,-5%,0,-5%);
    margin: auto;
    width: 105%;
    height: 105%;

    background-repeat: no-repeat;
    background-position: center center;
    -webkit-filter: blur(7px); 
    filter: blur(7px);  
    background-size: cover;  

    &:after {
      @include pseudo-element(100%, 100%, rgba(0,0,0,.5));
    }
  }

  &--quote {
    position: relative;
    padding: 6rem 0 3rem 0;
  }

  blockquote,
  .btn {
    position: relative;
    z-index: 1;    
  } 

  blockquote {
    max-width: 34.063rem;    
    margin: 0 auto;
    padding: 0 rem(15px);
  }

  cite {
    display: block;
    margin-top: 2rem;
    float: right;

    font-family: $fancy-font;
    font-style: normal;
  } 

  @include breakpoint(medium) {
    blockquote {
      font-size: 1.938rem;
    }

    cite {
      font-size: 1.438rem;
    } 
  }
}