/* ==========================================================================
   Navigation
   ========================================================================== */

body.nav-is-open { // .overflow-hidden class added to body when the menu is open
  position: fixed;
  width: 100%;
  overflow-y: scroll;  
}

.hamburger {
  position: relative;
  z-index: 5;

  float: right;
  padding: 15px;

  text-align: center;
  color: #fff;

  &:hover {
    cursor: pointer;
  }

  &__title {
    display: block;

    opacity: .4;
    font-family: $fancy-font;
    text-transform: uppercase;
    font-size: rem(11px);
  }  

  a, & > span {
    position: relative;
    overflow: hidden;
    display: block;
    width: 35px;
    height: 30px;

    &.is-active {
      .line-one, 
      .line-two {
        top: 14px;
        -webkit-transform: rotate(45deg);        
        -ms-transform: rotate(45deg);        
        transform: rotate(45deg);
      }

      .line-three {
        top: 14px;
        -webkit-transform: rotate(-45deg);        
        -ms-transform: rotate(-45deg);        
        transform: rotate(-45deg);
      }
    }    
  }

  .line-one,
  .line-two,
  .line-three {
    transition: all 0.35s ease-in-out;
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    position: absolute;
    right: 0;
  }

  .line-one   { top: 5px;  }
  .line-two   { top: 13px; }
  .line-three { top: 21px; }

  @include breakpoint(medium) {
    margin-right: rem(10px);
  }

  @include breakpoint(large) {
    &.mfp-burger {
      padding: rem(35px) rem(50px) 0 0;
    }
  }
}

.nav-primary {
  .is_framed & ul {
    width: 100%;
  }

  ul {
    /* by default it's hidden - on top of the viewport */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;

    padding: rem(80px) rem(10px);
    margin: 0;
    width: 102%; // to hide the scroll bar.  Change to 100% to see what I mean.
    height: 100%;
    overflow-y: scroll;

    text-align: center;
    list-style-type: none;

    background: $blue;
    -webkit-transform: translate3d(0,-100%,0);
    -ms-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
    -webkit-transition-property: -webkit-transform;
            transition-property: transform;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    -webkit-overflow-scrolling: touch;

    &.is-visible {
      -webkit-transform: translate3d(0,0,0);    
      -ms-transform: translate3d(0,0,0);   
      transform: translate3d(0,0,0);
    }

    a {
      color: #fff;
      text-decoration: none;
      font-size: rem(30px);
    }

    @include breakpoint(medium) {
      padding-top: 10%;
      width: 102%;

      a {
        font-size: rem(50px);
      }
    }
  }
} 
