/* ==========================================================================
    Pledges   
   ========================================================================== */

.pledges {
  @extend %list-reset;

  max-width: rem(850px);
  margin: 0 auto;
  overflow: hidden;

  .col-1-4 {
    width: 50%;
  }

  a {
    text-decoration: none;
  }

  @include breakpoint(medium) {
    .col-1-4 {
      width: 25%;
    }
  }
}

.pledge {
  padding: 10px;
  min-height: 200px;

  text-align: center;

  &__img {
    width: 80%;
    max-width: 130px;
  }

  &__img {
    margin-bottom: .625rem;
    border-radius: 50%;
    display: inline-block;
  }

  &__name {
    line-height: 1.2;
    font-size: 1.125rem;
    font-family: $fancy-font;

    .hero & { // color override when pledge is in the hero
      color: #fff;
    }

    &--colored {
      color: $blue-light;
    }

    .location {
      display: block;
      
      font-size: .875rem;
      color: $grey-medium;
    }
  }

  @include breakpoint(medium) {
    min-height: 220px;
  }
}